$toolButtonSize: 40px;
$toggleSize: 16px;

//////////////////////////////////////
//	NAvigation Buttons
//////////////////////////////////////
.magazine-viewport {

	.navigation_button {
		position: absolute;
		top: 40px;
		width: 23px;
		height: 122px;
		cursor: pointer;
		opacity: 1;
		@include transition(1s);
		&:hover, &:focus  {
			opacity: .5;
			@include transition(1s);
		}
	}

	.next-button {
		@extend .navigation_button;
		@include bookControl-sprite("page_next");
		right: -23px;
	}

	.previous-button {
		@extend .navigation_button;
		@include bookControl-sprite("page_previous");
		left: -23px;
	}

	
}

.splash-container {
	padding: 0 30px;
	font-size: 14px;

	h2, h3 {
		color: $green;
	}
}

//////////////////////////////////////
//	Toolbar
//////////////////////////////////////
.magazine-toolbar {
	position: absolute;
	top: 30px; right: 0;
	z-index: 1000;
	height: $toolButtonSize;
	@include background(linear-gradient(bottom left, #ccc, lighten(#ccc,5%) ));
	@include box-shadow(0 1px 6px rgba(black,.45));


	// Toggle Button
	.toggle[type=checkbox] {
		position: absolute;
		top: -9999px; left: -9999px;
		&:checked + ul.buttons {
			max-width: 999em;
			min-width: $toolButtonSize;
			@include transition(2s);
		}
	}

	label.toolbar-toggle {
		@include textReplace;
		@include transition(500ms);
		@include border-bottom-radius(6px);
		@include buttonGradient(lighten($green,10%), darkendown);
		@include box-shadow(0 1px 3px rgba(black,.45));
		position: absolute;
		bottom: -$toggleSize;
		left: 0;
		width: $toolButtonSize;
		height: $toggleSize;
		overflow: hidden;
		display: inline-block;
		cursor: pointer;

		span {
			display: block;
			width: $toolButtonSize;
			height: $toggleSize;
			@include bookControl-sprite("toolbar_expand");
			@include bookControl-sprite-position("toolbar_expand", 8px, -5px);
		}

		&:hover, &:focus {
			@include transition(1s);
			@include buttonGradient(lighten($green,5%), darkendown);
			height: $toggleSize +5;
			bottom: -($toggleSize +5);
		}
	}

	ul.buttons {
		margin: 0;
		padding: 0;
		max-width: $toolButtonSize;
		height: $toolButtonSize;
		overflow: hidden;
		@include transition(2s);

		li {
			@include debug;
			@include textReplace;
			float: left;
			list-style: none;
			// Default Button Styles
			@include buttonGradient(#eee, lighten);
			&:hover, &:focus {
				@include buttonGradient(#ddd, darken);
			}

			a {
				cursor: pointer;
				display: block;
				height: $toolButtonSize;
				width: $toolButtonSize;
			}

			&.zoom-icon-in {
				@include buttonGradient(#71b200, darken);
				a {
					@include bookControl-sprite("zoom_in");
				}
				&:hover, &:focus, .zoom-icon-in-hover {
					@include buttonGradient(#89d800, darken);
				}
			}

			&.zoom-icon-out {
				@include buttonGradient(red, darken);
				a {
					@include bookControl-sprite("zoom_out");
				}
				&:hover, &:focus, .zoom-icon-out-hover, .zoom-icon-in-hover {
					@include buttonGradient(lighten(red,20%), darken);
				}
			}

			&.next-icon {
				a {
					@include bookControl-sprite("toolbar_next");
				}
			}

			&.previous-icon {
				a {
					@include bookControl-sprite("toolbar_previous");
				}
			}

			&.firstpage-icon {
				a {
					@include bookControl-sprite("toolbar_front");
				}
			}

			&.thumbnails-icon {
				a {
					@include bookControl-sprite("toolbar_thumbnails");
					opacity: .1;
				}
			}

			&.print-icon {
				a {
					@include bookControl-sprite("toolbar_print");
				}
			}

			&.authenticate-icon.login-icon {
				a {
					@include bookControl-sprite("toolbar_auth");
				}
			}

			&.authenticate-icon.logout-icon {
				a {
					@include bookControl-sprite("toolbar_logout2");
				}
			}

			&.help-icon {
				a {
					@include bookControl-sprite("toolbar_help");
				}
			}

		}
	}
}