.magazine-viewport {
	.container {
		position: absolute;
		top: 50%; left: 50%;
		width: $bookWidth;
		height: $pageHeight;
		margin: auto;
	}
	.magazine {
		width: $bookWidth;
		height: $pageHeight;
		left: $bookWidth / 2;
		top: $pageHeight / 2;
		.page {
			@include box-shadow(rgba(black,.02) 0 0 20px);
		}
		.even {
			.gradient {
				position: absolute;
				top: 0; left: 0;
				width: 100%; height: 100%;
				background: red;
			}
		}
		.odd {
			.gradient {
				position:absolute;
				top: 0; left: 0;
				width: 100%; height: 100%;
				background: blue
			}
		}
	}
	.page {
		width: $pageWidth;
		height: $pageHeight;
		background-color: white;
		background-repeat: no-repeat;
		background-size: 100% 100%;
		img {
			-webkit-touch-callout: none;
			-webkit-user-select: none;
			-khtml-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
			margin: 0;
		}
	}
	.zoomer {
		.region {
			display: none;
		}
	}
	.loader {
		position: absolute;
		top: $pageHeight /2; left: $pageWidth /2;
		width: 22px; height: 22px;
		background-image: image-url("loader.gif");
	}
	.region {
		position: absolute;
		overflow: hidden;
		background: #0066FF;
		opacity: 0.2;
		@include border-radius(10px);
		cursor: pointer;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
		filter: alpha(opacity=20);
		&:hover {
			opacity: 0.5;
			-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
			filter: alpha(opacity=50);
		}
		.zoom {
			opacity: 0.01;
			-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
			filter: alpha(opacity=1);
			&:hover {
				opacity: 0.2;
				-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
				filter: alpha(opacity=20);
			}
		}
	}
	.shadow {
		@include box-shadow(0 0 20px rgba(black,.35));
		@include transition(box-shadow 0.5s);
	}
	.zoom-in {
		.even .gradient,
		.odd .gradient,
		.navigation_button {
			display: none;
		}
	}
}

.animated {
	@include transition(megin-left 0.5s);
}

.bottom{
	position: absolute;
	left: 0; bottom: 0;
	width: 100%;
}

.exit-message {
	position: absolute;
	top: 10px; left: 0;
	width: 100%; height: 40px;
	z-index: 10000;
	> div {
		width: 140px; height: 30px;
		margin: auto;
		background: rgba(black,.5);
		text-align: center;
		font: 12px arial;
		line-height: 30px;
		color: white;
		@include border-radius(10px);
	}
}