//         __             _____________               __        
//  _____ |__| ____    __| _/\______   \ ____   _____|__| ____  
///      \|  |/    \  / __ |  |       _// __ \ /  ___/  |/    \ 
//|  Y Y  \  |   |  \/ /_/ |  |    |   \  ___/ \___ \|  |   |  \
//|__|_|  /__|___|  /\____ |  |____|_  /\_____>______>__|___|  /
//      \/        \/      \/         \/          05.04.13(1a)\/ 

//
//	Debug elements by placing an outline
@mixin debug($color:red) {
	outline: 1px dashed $color;
}

//
//	Useful stylings for replacing a text element with an image (e.g. logotype)
@mixin textReplace {
	text-indent: -999em;
	outline: none;
}

//
// List reset
@mixin listReset {
	margin: 0; padding: 0;
	list-style-type: none;
}

//
//	Text Selection Color
$prefixes: ("-webkit-","-moz-", "-o-", "");
@mixin textSelect($color, $background) {
	@each $prefix in $prefixes {
		::#{$prefix}selection {
			color: $color;
			background: $background;
		}
	}
}

//
//	Font Face
@mixin font-face($font-family, $file-path, $weight: normal, $style: normal ) {
	@font-face {
		font-family: $font-family;
		src: url('#{$file-path}.eot');
		src: url('#{$file-path}.eot?#iefix') format('embedded-opentype'),
			url('#{$file-path}.woff') format('woff'),
			url('#{$file-path}.ttf') format('truetype'),
			url('#{$file-path}.svg##{$font-family}') format('svg');
		font-weight: $weight;
		font-style: $style;
	}
}

//
// Clearfixer
.clearfix:after {
	display: block;
	visibility: hidden;
	height: 0;
	clear: both;
	font-size: 1;
	content: " ";
}
