/*
	SLIMBOX
*/

#lbOverlay {
	position: fixed;
	z-index: 9999;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: black;
	cursor: pointer;
}

#lbCenter, #lbBottomContainer {
	position: absolute;
	z-index: 9999;
	overflow: hidden;
	background-color: white;
}

.lbLoading {
	background: white image-url("loader.gif") no-repeat center;
}

#lbImage {
	position: absolute;
	left: 0;
	top: 0;
	border: 10px solid white;
	background-repeat: no-repeat;
}

#navlink {
	display: block;
	position: absolute;
	top: 0;
	width: 50%;
	outline: none;
}

#lbPrevLink {
	@extend #navlink;
	left: 0;

	&:hover {
		background: transparent image-url("prevlabel.gif") no-repeat 0 15%;
	}
}

#lbNextLink {
	@extend #navlink;
	right: 0;

	&:hover {
		background: transparent image-url("nextlabel.gif") no-repeat 100% 15%;
	}
}

#lbBottom {
	font-family: Verdana, Arial, Geneva, Helvetica, sans-serif;
	font-size: 10px;
	color: #666;
	line-height: 1.4em;
	text-align: left;
	border: 10px solid white;
	border-top-style: none;
}

#lbCloseLink {
	display: block;
	float: right;
	width: 66px;
	height: 22px;
	background: transparent image-url("closelabel.gif") no-repeat center;
	margin: 5px 0;
	outline: none;
}

#lbCaption, #lbNumber {
	margin-right: 71px;
}

#lbCaption {
	font-weight: bold;
}