//	Resinplate
@import "normalize";
@import "resin";

//	Compass Mixins
@import "compass/css3/box-shadow";
@import "compass/css3/transition";
@import "compass/css3/transform";
@import "compass/css3/text-shadow";
@import "compass/css3/border-radius";
@import "compass/css3/images";

@mixin buttonGradient($color, $tone :"darken"){
	$experimental-support-for-svg: true;
	@if $tone == darken {
		@include background-image(linear-gradient($color, saturate(darken($color,15%),15%)));
	} @else if $tone == lighten {
		@include background-image(linear-gradient(saturate(lighten($color,15%),15%), $color));
	} @else if $tone == darkendown {
		@include background-image(linear-gradient(saturate(darken($color,15%),15%), $color));
	} @else if $tone == lightendown {
		@include background-image(linear-gradient($color, saturate(lighten($color,15%),15%)));
	}
}

body {
	overflow: hidden;
	background-color: #fcfcfc;
	margin: 0;
	padding: 0;
}

$pageWidth: 461px;
$pageHeight: 644px;
$bookWidth: $pageWidth * 2;
$green: #174d00;

@import "bookControl/*.png";

//	Book Styles
@import "cpflipper";
//@import "flipper_thumbnails";
@import "cpflipper_ui";

@import "slimbox";