doctype html
html lang="en"
	head
		title #{site_title}
		meta charset="utf-8"
		meta http-equiv="cleartype" content="on"
		meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"
		meta name="viewport" content="width = 1050, user-scalable = no"
		meta name="keywords" content="#{site_keywords}"
		meta name="author" content="#{site_author}"
		meta name="description" content="#{site_description}"
		== javascript_include_tag "cpflip_main"
		== stylesheet_link_tag "style"

	body
		== yield
		== javascript_include_tag "cpflip_init"