#canvas
	.magazine-toolbar
		label.toolbar-toggle for="toggle-1" title="Toggle toolbar"
			span Expand Toolbar
		input.toggle type="checkbox" id="toggle-1" checked="true"
		ul.buttons
			li.zoom-icon.zoom-icon-in
				a title="Zoome" Zoome
			li.firstpage-icon
				a title="F&oslash;rste side" F&oslash;rste side
			li.previous-icon
				a title="Forrige side" Forrige side
			li.next-icon
				a title="Neste Side" Neste Side
			li.print-icon
				a title="Skriv ut" Skriv ut
			li.help-icon
				a rel="lightbox" title="Hjelp" Hjelp
			/li.thumbnails-icon
			/	a title="Bla sider" Bla sider
			li.authenticate-icon.login-icon
				a rel="lightbox" title="Logg inn eller subscrive" Logg inn eller subscrive
			li.authenticate-icon.logout-icon
				a rel="lightbox" title="Logge ut" Logge ut
				

	.magazine-viewport
		.container
			.magazine
				.next-button ignore="1"
				.previous-button ignore="1"
				.ignore
					p ignore
				.splash-page
					.splash-container
						h2 Kjære leser!
						p Dette er den elektroniske utgaven av Akers Avis Groruddalen.

						p
							| For å lese avisa logger du deg inn ved å klikke på låsen i menyen øverst.
							| Benytt abonnementsnummer/postnummer.

						p
							| Du blar i avisa ved å klikke i et av hjørnene. 
							| Du kan også klikke på pilene øverst på midten.
						p
							| Du kan forstørre og forminske som du vil. 
							| Klikk på siden for å forstørre. Klikker du igjen 
							| kommer du tilbake til vanlig størrelse.
						h4 Få et raskt overblikk:
						p
							| I menyen øverst finner du «Vis samlet sideoversikt». 
							| Her vises alle sidene i avisen. Klikker du på en side 
							| kommer du automatisk til denne.
						h4 Bestille tilgang/abonnement:
						p
							| Hvis du ikke er abonnent, kan du få direkte tilgang til eAvisa 
							| ved å bestille abonnement her. Betaling skjer gjennom vår sikre 
							| betalingsløsning DIBS. Da får du avisa i posten hver onsdag og fredag,
							| og samtidig tilgang til den elektroniske utgaven. 

						strong God lesning!
				.innerbody
					- @pages = 49
					- @i = 1
					- while @i != @pages
						=image_tag "pages/page-#{@i}.jpg"
						- @i += 1
				center